#root {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
    
    
}


body {
    margin: 20px;
    padding: 0;
}

.App {
    display: block;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 32px;
}

.header button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.9em 1.5em;
    cursor: pointer;
    transition: border-color 1s;
}

.header button:hover {
    border: 1px solid blue;
}
  
.header input {
    padding: 0.9em 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.delete-button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.9em 1.5em;
    cursor: pointer;
    transition: border-color 1s;
}

.delete-button:hover {
    border: 1px solid blue;
}


  

